$colorOne: #6CB33F;
$colorTwo: #B5DC10;

/* Start Explore Features */
.explore-features {
    background-image: url("../images/background3.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 880px;

    .container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 700px;

        .box-info {
            width: 45%;
            padding: 30px;
            background-color: #FFF;
            border-radius: 15px;
            min-height: 370px;

            p:first-of-type {
                display: flex;
                align-items: center;
                gap: 7px;
                text-transform: uppercase;
                margin-bottom: 5px;
                
            }

            h3 {
                font-size: 30px;
                margin-bottom: 20px;
            }

            p:last-of-type {
                font-size: 16px;
                opacity: .8;
            }
        }
    }
}

@media (max-width: 767px) {
    .explore-features {
        background-image: url("../images/background-app-4.png") !important;
        background-position: center center;

        .box-info {
            width: 100% !important;
            padding: 20px !important;
        }
    }
}