$colorOne: #6CB33F;
$colorTwo: #B5DC10;

/* Start Main Projects */
.main-projects {
    background-image: url("../images/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: -220px;
    padding-top: 250px;
    padding-bottom: 100px;
    min-height: 740px;

    .container {
        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 50px;

            p {
                display: flex;
                align-items: center;
                gap: 5px;
                margin-bottom: 7px;
                text-transform: uppercase;
            }

            h3 {
                font-size: 40px;
            }
        }
        .box-projects {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .box {
                width: 32%;
                background-color: #FFF;
                border-radius: 15px;
                margin-bottom: 15px;
                
                a {
                    color: #000;

                    img {
                        max-width: 100%;
                        border-radius: 15px 15px 0 0;
                    }
        
                    .info-box {
                        padding: 10px 15px 15px 15px;
                        border-bottom: 4px solid $colorOne;
                        font-weight: bold;
                        border-radius: 0 0 15px 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .main-projects {
        background-size: 20px !important;
        padding-bottom: 15px !important;

        .box-projects {

            .box {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

@media (max-width: 550px) {
    .main-projects {
        padding-top: 300px !important;
        

        .title {
            margin-bottom: 25px !important;
            p {
                img {
                    width: 75px !important;
                }
            }

            h3 {
                font-size: 28px !important;
            }
        }

        .box-projects {
            flex-direction: column;
            .box {
                width: 60% !important;
            }
        }
    }
}